{{include './header.html'}}
<article>
    {{include './left.html'}}
    <div class="right">
        {{each msgs msg i}}
        <div class="msg">
            <p><a href="/detail/{{msg._id}}">{{ msg.title }}</a><input type="text" name="_id" value="" hidden></p>
            <p>作者：<a href="/detail/{{msg._id}}">
                    <input type="text" name="_id" value="" hidden>
                    {{msg.author.username}}</a> | 日期：{{msg.time.second}} | 标签：{{each msg.labels la}}<a
                    href="/detail/{{msg._id}}" class="labels">{{la}}</a>{{/each}}</p>
            <p>
                <a href="/detail/{{msg._id}}" class="article_list">{{msg.content}}</a>
            </p>
            <p>
                <span>阅读：{{msg.count}} 次</span> | <span>评论：{{msg.reples.length}}</span>
            </p>
        </div>
        {{/each}}
        <div id="page">
            {{if page!=1}}
            <a href="?page={{page-1}}">上一页</a>
            {{/if}}
            <span>第{{page}}/{{allPages}}页</span>
            {{if page!=allPages}}
            <a href="?page={{page+1}}">下一页</a>
            {{/if}}
        </div>
    </div>
    </div>

</article>

{{include './footer.html'}}